<div class="page">
  <div class="user-left">
  <% if current_user == @user_profile %> <h2 align="center">It`s your profile!</h2>
      <a class="button radius success tiny" <%= link_to 'Edit profile', edit_user_registration_path(current_user) %>
  <% end %>
  <div class="avatar">
    <%= image_tag @user_profile.avatar.url(:medium) %>
  </div>

  <br>
  <strong>Login:</strong> <%= @user_profile.login %>
  <br>
  <strong>Email:</strong> <%= @user_profile.email %>
  <br>
  <br>
  <a class="button radius success tiny" <%= link_to 'Parse shows', new_show_path %>
  <a class="button radius success tiny" <%= link_to 'Parse genres', new_genre_path %>
  </div>
  <div class="user-right">
    <% unless @watching.empty? %>
    <h5>Watching</h5>
    <% @watching.each {|item| %>
        <h6><%= link_to item.show.name, item.show %></h6>
    <% }
    end%>
    <% unless @will_watch.empty? %>
    <h5>Will watch</h5>
    <% @will_watch.each {|item| %>
        <h6><%= link_to item.show.name, item.show %></h6>
    <% }
    end %>

    <% unless @stopped_watch.empty? %>
    <h5>Stopped watch</h5>
    <% @stopped_watch.each {|item| %>
        <h6><%= link_to item.show.name, item.show %></h6>
    <% } %>
    <% end %>
  </div>
</div>