<% content_for :title, @user_profile.login %>
<div class="page" data-equalizer>
  <div class="row">
    <div class="large-9 medium-9 columns" data-equalizer-watch>

      <div class="row">
        <div class="large-4 medium-4 small-12 columns">
          <div class="user-avatar">
            <%= image_tag @user_profile.avatar.url(:medium)%>
          </div>
          <div>
            <% if user_signed_in? %>
              <% if current_user.access == 1 && @user_profile == current_user %>
                <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button dropdown show-status success"><%= I18n.t 'user.site-control' %></button>
                <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                  <li><%= link_to (I18n.t 'user.parse-genres'), new_genre_path %></li>
                  <li><%= link_to (I18n.t 'user.parse-shows'), new_show_path %></li>
                  <li><%= link_to (I18n.t 'user.parse-episodes'), new_episode_path %></li>
                  <li><%= link_to (I18n.t 'user.admin-panel'), rails_admin_path %></li>
                </ul>
              <% end %>
              <% if current_user == @user_profile %>
                <ul class="user-panel">
                <li><a class="label success tiny" <%= link_to (I18n.t 'user.favorites'), users_favorites_path %></li>
                <li><a class="label success tiny" <%= link_to (I18n.t 'user.rates'), users_rates_path %></li>
                <li><a class="label success tiny" <%= link_to (I18n.t 'user.edit-profile'), edit_user_registration_path(current_user) %> </li>
                </ul>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="large-8 medium-8 small-12 columns"><%= bar_chart @ord %></div>

      </div>
    </div>

    <div class="user-right large-3 medium-3 columns" data-equalizer-watch>
      <% unless @watching.empty? %>
        <h5><%= I18n.t 'user.watching' %></h5>
        <% @watching.each { |item| %>
            <h6><%= link_to item.show.name, item.show %></h6>
        <% }
      end %>
      <% unless @will_watch.empty? %>
        <h5><%= I18n.t 'user.will-watch' %></h5>
        <% @will_watch.each { |item| %>
            <h6><%= link_to item.show.name, item.show %></h6>
        <% }
      end %>

      <% unless @stopped_watch.empty? %>
        <h5><%= I18n.t 'user.stopped-watch' %></h5>
        <% @stopped_watch.each { |item| %>
            <h6><%= link_to item.show.name, item.show %></h6>
        <% } %>
      <% end %>

      <% if @watching.empty? && @will_watch.empty? && @stopped_watch.empty? %>
        <% if @user_profile == current_user %>
          <h6><%= I18n.t 'user.dont-watch-yet' %></h6>
          <i><%= I18n.t 'user.go-to' %> <%= link_to (I18n.t 'user.shows-list'), shows_path %> <%= I18n.t 'user.add-shows' %></i>
        <% else %>
          <h6><b><%= @user_profile.login %></b> <%= I18n.t 'interface.user.other-user' %></h6>
        <% end %>
      <% end %>
    </div>

  </div>
</div>