- content_for :title, @user.login

.page
  .row
    .large-9.medium-9.columns
      .row
        .large-4.medium-4.small-12.columns
          .user-avatar
            = image_tag @user.avatar.url(:medium)
          - if user_signed_in?
            - if current_user.access == 1 && @user == current_user
              %button.tiny.button.dropdown.show-status.success{'aria-controls' => 'drop1', 'aria-expanded' => 'false', 'data-dropdown' => 'drop1'}
                = I18n.t 'user.site-control'
              %ul.f-dropdown#drop1
                %li= link_to (I18n.t 'user.parse-genres'), new_genre_path
                %li= link_to (I18n.t 'user.parse-shows'), new_show_path
                %li= link_to (I18n.t 'user.parse-episodes'), new_episode_path
                %li= link_to (I18n.t 'user.admin-panel'), rails_admin_path

              - if current_user == @user
                %ul.user-panel.full-width
                  %li{style: 'margin-bottom: -15px'}
                    = link_to (I18n.t 'user.favorites'), favorites_user_path, class: 'button success tiny full-width'
                  %li{style: 'margin-bottom: -15px'}
                    = link_to (I18n.t 'user.rates'), rates_user_path, class: 'button success tiny full-width'
                  %li{style: 'margin-bottom: -15px'}
                    = link_to (I18n.t 'user.edit-profile'), edit_user_registration_path(current_user), class: 'button success tiny full-width'
        .large-8.medium-8.small-12.columns{style: 'margin-top: 5px'}
          = bar_chart @ord

    .user-right.large-3.medium-3.columns
      - unless @watching.empty?
        %h5= I18n.t 'user.watching'
        - @watching.each do |item|
          %h6= link_to item.show.name, item.show

      - unless @will_watch.empty?
        %h5= I18n.t 'user.will-watch'
        - @will_watch.each do |item|
          %h6= link_to item.show.name, item.show


      - unless @stopped_watch.empty?
        %h5= I18n.t 'user.stopped-watch'
        - @stopped_watch.each do |item|
          %h6= link_to item.show.name, item.show

      - if @watching.empty? && @will_watch.empty? && @stopped_watch.empty?
        - if @user == current_user
          %h6= I18n.t 'user.dont-watch-yet'
          %i= I18n.t 'user.go-to'
          = (link_to (I18n.t 'user.shows-list'), shows_path)
          = I18n.t 'user.add-shows'
        - else
          %h6
            %b= @user.login
            = I18n.t 'interface.user.other-user'
