- content_for :title, @user.login
.container.pt16
  .row
    .col-md-3
      .user-avatar
        = image_tag @user.avatar.url(:medium)
      - if user_signed_in?
        - if current_user.access == 1 && @user == current_user
          .user-drop
            %button{type: 'button', class: 'btn btn-info dropdown-toggle', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = I18n.t 'user.site-control'
            .dropdown-menu
              = link_to (I18n.t 'user.parse-shows'), new_show_path, class: 'dropdown-item'
              -#= link_to (I18n.t 'user.parse-genres'), new_genre_path, class: 'dropdown-item'
              -#= link_to (I18n.t 'user.parse-episodes'), new_episode_path, class: 'dropdown-item'
              = link_to (I18n.t 'user.admin-panel'), rails_admin_path, class: 'dropdown-item'

          - if current_user == @user
            .btn-group.user-page-nav
              = link_to (I18n.t 'user.favorites'), favorites_user_path, class: 'btn btn-outline-info'
              = link_to (I18n.t 'user.rates'), rates_user_path, class: 'btn btn-outline-info'
              = link_to (I18n.t 'user.edit-profile'), edit_user_registration_path(current_user), class: 'btn btn-outline-info'
    .col-md-6
      = bar_chart @ord
    .col-md-3
      - if @watching.present?
        %h5= I18n.t 'user.watching'
        - @watching.each do |item|
          %h6= link_to item.show.name, item.show

      - if @will_watch.present?
        %h5= I18n.t 'user.will-watch'
        - @will_watch.each do |item|
          %h6= link_to item.show.name, item.show

      - if @stopped_watch.present?
        %h5= I18n.t 'user.stopped-watch'
        - @stopped_watch.each do |item|
          %h6= link_to item.show.name, item.show

      - if @watching.empty? && @will_watch.empty? && @stopped_watch.empty?
        - if @user == current_user
          %h6= I18n.t 'user.dont-watch-yet'
          %i= I18n.t 'user.go-to'
          = (link_to (I18n.t 'user.shows-list'), shows_path)
          = I18n.t 'user.add-shows'
        - else
          %h6
            %b= @user.login
            = I18n.t 'interface.user.other-user'

  .row
    .col-md-12
      .box-ct
        .box-item.box-red
          %p 6 000
          %p episodes
        .box-item.box-green
          %p 2 000
          %p hours
        .box-item.box-blue
          %p 6 000
          %p days
    .col-md-12
      %ul.nav.nav-tabs.nav-history{role: 'tablist'}
        %li.nav-item
          %a.nav-link.active{'data-toggle': 'tab', href: '#watching', 'role': 'tab'}
            watching
            %sup 32
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#going_to_watch', 'role': 'tab'}
            going_to_watch
            %sup 2
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#stopped_watch', 'role': 'tab'}
            stopped_watch
            %sup 6
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#watched_all', 'role': 'tab'}
            watched_all
            %sup 23
      .tab-content
        .tab-pane.fade.show.active#watching
          .watching-time
            %p.watching-name Watching
            %span.dots
            %p.watching-current 1 month 32 days 5 hiurs 32 minutes
          %ul.serials-list
            %li.serials-list-item
              .serials-link
                %a{href: '#'}
                  Adveture times
                  %sup Some thing
              .serials-stars
                Serials stars
              .serials-progress
                .serials-progress-header
                  %span Episodes watched
                  %span 154
                .serials-progress-outer
                  .serials-progress-inner{style: 'width: 30%'}
                    %span 45
        .tab-pane.fade#going_to_watch going_to_watch
        .tab-pane.fade#stopped_watch stopped_watch
        .tab-pane.fade#watched_all watched_all