- content_for :title, @user.login
= content_for :javascripts do
  = javascript_include_tag 'jquery.raty'
  = javascript_include_tag 'ratyrate'

.container.pt16
  .row
    .col-md-3
      .user-avatar
        = image_tag @user.avatar.url(:medium)
      - if user_signed_in?
        - if current_user.access == 1 && @user == current_user
          .user-drop
            %button{type: 'button', class: 'btn btn-info dropdown-toggle', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = I18n.t 'user.site-control'
            .dropdown-menu
              = link_to (I18n.t 'user.parse'), new_show_path, class: 'dropdown-item'
              -#= link_to (I18n.t 'user.parse-genres'), new_genre_path, class: 'dropdown-item'
              -#= link_to (I18n.t 'user.parse-episodes'), new_episode_path, class: 'dropdown-item'
              = link_to (I18n.t 'user.admin-panel'), rails_admin_path, class: 'dropdown-item'

    .col-md-9
      .box-ct
        .box-item.box-red
          .stats
            %p= @stats[:episodes][:watched]
            %p= t('user.episodes')
          %b{style: "height: #{@stats[:episodes][:watched] * 100.0 / @stats[:episodes][:count]}%"}
        .box-item.box-green
          .stats
            %p= @stats[:hours][:watched].round(1)
            %p= t('user.hours')
          %b{style: "height: #{@stats[:hours][:watched] * 100.0 / @stats[:hours][:count]}%"}
        .box-item.box-blue
          .stats
            %p= @stats[:days][:watched].round(1)
            %p= t('user.days')
          %b{style: "height: #{@stats[:days][:watched] * 100.0 / @stats[:days][:count]}%"}
    .col-md-12.pt16
      %ul.nav.nav-tabs.nav-history{role: 'tablist'}
        %li.nav-item
          %a.nav-link.active{'data-toggle': 'tab', href: '#watching', 'role': 'tab'}
            = t('user.watching')
            = "(#{@watching.count})"
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#going_to_watch', 'role': 'tab'}
            = t('user.will-watch')
            = "(#{@will_watch.count})"
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#stopped_watch', 'role': 'tab'}
            = t('user.stopped-watch')
            = "(#{@stopped_watch.count})"
        %li.nav-item
          %a.nav-link{'data-toggle': 'tab', href: '#favorites', 'role': 'tab'}
            = t('user.favorites')
            = "(#{@favorites.count})"
      .tab-content
        .tab-pane.fade.show.active#watching
          = render partial: 'shows_list', locals: { shows: @watching.map(&:show), title: t('user.watching') }
        .tab-pane.fade#going_to_watch
          = render partial: 'shows_list', locals: { shows: @will_watch.map(&:show), title: t('user.will-watch') }
        .tab-pane.fade#stopped_watch
          = render partial: 'shows_list', locals: { shows: @stopped_watch.map(&:show), title: t('user.stopped-watch') }
        .tab-pane.fade#favorites
          = render partial: 'shows_list', locals: { shows: @favorites.map(&:show), title: t('user.favorites') }

    - if @shows.present?
      .col-md-12
        %h3 Рекомендації
        = render 'shows/list'