<div class="page">
  <div class="user-left">
    <h2 align="center"><%=@user_profile.login%></h2>

    <div class="user-chart">
      <%= bar_chart @ord, height: '300px', format: '%i' %>
    </div>

    <div class="user-avatar" style="background-image: url(<%=@user_profile.avatar.url(:medium)%>)"></div>

    <div class="user-control-panel">
      <% if current_user.access == 1 && @user_profile == current_user%>
          <a class="button radius success tiny" <%= link_to 'Parse shows', new_show_path %>
          <a class="button radius success tiny" <%= link_to 'Parse genres', new_genre_path %>
          <br>
          <a class="button radius success tiny" <%= link_to 'Parse episodes', new_episode_path %>
          <br>
      <% end %>
      <% if current_user == @user_profile %>
          <a class="button radius success tiny" <%= link_to 'Edit profile', edit_user_registration_path(current_user) %>
      <% end %>
    </div>


  </div>

      <div class="user-right">

        <% unless @watching.empty? %>
            <h5>Watching</h5>
            <% @watching.each { |item| %>
                <h6><%= link_to item.show.name, item.show %></h6>
            <% }
               end %>
        <% unless @will_watch.empty? %>
            <h5>Will watch</h5>
            <% @will_watch.each { |item| %>
                <h6><%= link_to item.show.name, item.show %></h6>
            <% }
               end %>

        <% unless @stopped_watch.empty? %>
            <h5>Stopped watch</h5>
            <% @stopped_watch.each { |item| %>
                <h6><%= link_to item.show.name, item.show %></h6>
            <% } %>
        <% end %>

        <% if @watching.empty? && @will_watch.empty? && @stopped_watch.empty? %>
            <% if @user_profile == current_user %>
                <h6>You don't watch anything yet :с</h6>
                <i>Go to <%= link_to 'list', shows_path %> and add shows to your profile</i>

                <% else %>
                <h6><b><%= @user_profile.login %></b> don't watch anything yet :с</h6>
                <% end %>
        <% end %>
      </div>

</div>