- content_for :title, (I18n.t 'header.shows-list')
= content_for :javascripts do
  = javascript_include_tag 'filter'

%form#form
  - unless params[:action] == 'list'
    .container.pt16
      .row
        .col-lg-3
          .form-group
            %label{for: 'search'}= I18n.t 'header.search'
            %input.form-control#name{name: 'name', type: 'text', value: params[:name]}
        .col-lg-3
          .form-group
            %label{for: 'order'} Сотрувати:
            %select#sort-by.form-control{name: 'order', value: params[:order]}
              %option{value: ''}
              %option{value: 'rate_desc', selected: (params[:order] == 'rate_desc')} По рейтингу за спаданням
              %option{value: 'rate_asc', selected: (params[:order] == 'rate_asc')} По рейтингу за зростанням
              %option{value: 'name_asc', selected: (params[:order] == 'name_asc')} По назві за зростанням
              %option{value: 'name_desc', selected: (params[:order] == 'name_desc')} По назві за спаданням
        .col-lg-3
          .form-group
            %label{for: 'sort-genre'} За жанром:
            %select#sort-genre.form-control{name: 'genre_id'}
              %option{value: ''}
              - Genre.all.each do |genre|
                %option{value: "#{genre.id}", selected: (params[:genre_id].to_i == genre.id)}= genre.name
        .col-lg-3
          .custom-control.custom-checkbox{style: 'padding-top: 28px'}
            %input.custom-control-input#online{type: 'checkbox', name: 'online', checked: params[:online]}
            %label.custom-control-label{for: 'online'} Перегляд онлайн
  #content
    = render partial: 'shows/list'

    .container
      = paginate @shows, params: { controller: 'shows', action: 'index' }
