<div class="page">

  <h2 align="center"><%= @show.name %></h2>
  <div class="show-info">

  <div class="avatar">
    <%= image_tag @show.photo, class: 'show-list' %>
  </div>
    <div class="show-text">
<<<<<<< HEAD
  <strong>Status:</strong> <%= @show_page.status %>
=======
  <br>
  <strong>Status:</strong> <%= @show.status %>
>>>>>>> 558666268e18aa1a20392a324ed4726bec862b94
  <br>
  <strong>Start date:</strong> <%= @show.start_date %>
  <br>
  <strong>Finish date:</strong> <%= @show.finish_date %>
  <br>
  <strong>Channel:</strong> <%= @show.channel %>
  <br>
  <strong>Genres:</strong> <% @show_genres.each {|genre|%> <%=link_to genre.name, genre %> <%}%>
  <br>
  <strong>Seasons:</strong> <%= @show.seasons_count %>
  <br>
  <strong>Runtime:</strong> <%= @show.runtime %>
  <br>
  <strong>Rate IMDB:</strong> <%= @show.rate_imdb %>
  <br>
  <strong>Users rate:</strong> <%= @show.rate_users %>
  <br>
  <strong>About:</strong> <%= @show.about %>
  <br>
</div>
    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button dropdown show-status">Select show status</button><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
      <li><%=link_to 'Dont`t watch', change_status_path(id: @show.id, status: 'dont_watch') %></li>
      <li><%=link_to 'Will watch', change_status_path(id: @show.id, status: 'will_watch') %></li>
      <li><%=link_to 'Watching', change_status_path(id: @show.id, status: 'watching') %></li>
      <li><%=link_to 'Stopped watch', change_status_path(id: @show.id, status: 'stopped_watch') %></li>
    </ul>
    </div>

</div>
