<div class="page">

  <h2 align="center"><%= @show_page.name %></h2>
  <div class="info-box">

  <div class="avatar">
    <%= image_tag @show_page.photo %>
  </div>

  <br>
  <strong>Status:</strong> <%= @show_page.status %>
  <br>
  <strong>Start date:</strong> <%= @show_page.start_date %>
  <br>
  <strong>Finish date:</strong> <%= @show_page.finish_date %>
  <br>
  <strong>Channel:</strong> <%= @show_page.channel %>
  <br>
  <strong>Seasons:</strong> <%= @show_page.seasons_count %>
  <br>
  <strong>Runtime:</strong> <%= @show_page.runtime %>
  <br>
  <strong>Rate IMDB:</strong> <%= @show_page.rate_imdb %>
  <br>
  <strong>Users rate:</strong> <%= @show_page.rate_users %>
  <br>
  <strong>About:</strong> <%= @show_page.about %>
  <br>


    </div>
</div>