= content_for :title, @show.name + (@show.start_date ? "(#{@show.start_date&.year})" : '')
= content_for :javascripts do
  = javascript_include_tag 'favorite'

.container-fluid{style: 'background: #333; color: white; padding: 30px 0;'}
  .container
    .row
      .col-md-3
        = image_tag @show.photo, style: 'width: 100%'
        - if user_signed_in?
          %button.btn-watch-status.btn.btn-info.dropdown-toggle{type: :button, 'data-toggle': :dropdown, 'aria-haspopup': true, 'aria-expanded': false}
            - case @user_show&.show_status&.to_sym
              - when :watching
                = I18n.t 'user.watching'
              - when :will_watch
                = I18n.t 'user.will-watch'
              - when :stopped_watch
                = I18n.t 'user.stopped-watch'
              - else
                = I18n.t 'user.dont-watch'
          .dropdown-menu
            = link_to (I18n.t 'user.dont-watch'), change_status_show_path(@show, status: :dont_watch), class: 'dropdown-item'
            = link_to (I18n.t 'user.will-watch'), change_status_show_path(@show, status: :will_watch), class: 'dropdown-item'
            = link_to (I18n.t 'user.watching'), change_status_show_path(@show, status: :watching), class: 'dropdown-item'
            = link_to (I18n.t 'user.stopped-watch'), change_status_show_path(@show, status: :stopped_watch), class: 'dropdown-item'

          = link_to (I18n.t 'comment.add'), new_show_comment_path(@show), class: 'btn-watch-comment btn btn-warning'

      .col-lg-9
        %h1.films-title
          .films-title-left
            = @show.name
            - if @show.start_date.present?
              %span.text-muted= "(#{@show.start_date.year})"
          - if current_user.present?
            .films-title-right
              %label.bookmarks{title: 'Додати в закладки', 'data-id': @show.id}
                %input{type: 'checkbox', checked: @user_show&.favorite}
                %span.bookmarks-status
        %h5
          - @show_genres.each do |genre|
            = link_to genre.name, shows_path(genre_id: genre.id), class: 'badge badge-info'

        %b= "#{t 'show.status'}:"
        %span.badge{class: "badge-#{@show.status == 'Run' ? 'success' : 'danger'}"}= @show.status
        %br
        %b= "#{t 'show.start-date'}:"
        = @show.start_date&.strftime('%d.%m.%Y')
        %br
        %b= "#{t 'show.finish-date'}:"
        = @show.finish_date&.strftime('%d.%m.%Y') || '...'
        %br
        %b= "#{t 'show.seasons'}:"
        = @show.seasons_count
        %br
        %b= "#{t 'show.runtime'}:"
        = "#{@show.runtime.to_s} min."
        %br
        %b= "#{t 'show.rate-imdb'}:"
        = @show.rate_imdb || 'Not rated yet'
        %br
        %b= 'Загальна оцінка:'
        = rating_for @show, 'rate'
        - if user_signed_in?
          %b= 'Ваша оцінка:'
          = rating_for_user @show, current_user, 'rate', :star => 7
        %b= "#{t 'show.about'}:"
        = @show.about
        %br

- if @episodes.present?
  .container.pt16
    .row.justify-content-center
      .col-md-9
        .accordion#accordionSeason
          - count = @episodes.first.season
          - i = 0
          - while count > i do
            - current_season = @episodes.select { |episode| episode.season == count }
            .card
              .card-header
                %h5.mb-0
                  %button.btn.btn-link{type: 'button', 'data-toggle': 'collapse', 'data-target': "#collapse-#{count}", 'aria-expanded': 'true', 'aria-controls': "collapse-#{count}"}= (I18n.t 'show.season') + ' ' + count.to_s
              .collapse.show{'aria-labelledby': 'heading-1', 'data-parent': '#accordionSeason', id: "collapse-#{count}"}
                .card-body
                  %table.table.table-striped
                    %tr
                      %th{width: '50px'}= '#'
                      %th{width: '530px'}= I18n.t 'show.name'
                      %th{width: '50px'}= I18n.t 'show.date'
                      %th
                    - current_season.each do |episode|
                      %tr
                        %td= episode.season.to_s + 'x' + episode.number.to_s
                        %td= link_to episode.name, episode
                        %td
                          %span.badge{class: "badge-#{episode.released.past? ? 'success' : 'secondary'}"}
                            = episode.released.strftime('%d.%m.%Y')
                        %td
                          %label.watched{title: 'Переглянуто', 'data-id': episode.id}
                            %input{type: 'checkbox', checked: @user_episodes.select { |u_e| u_e.episode_id == episode.id }.present? }
                            %span.watched-status
              - count -= 1

      .media
        = render :partial => 'comments/comment', :collection => @show.comments
