<div class="row page">

  <h2 align="center"><%= @show.name %></h2>
  <div class="show-info">

  <div class="avatar">
    <%= image_tag @show.photo, class: 'show-list' %>
  </div>
    <div class="show-text">
  <strong>Status:</strong>
      <% if @show.status == 'Run' %>
          <span class="success label radius"><%= @show.status %></span>
      <% else %>
          <span class="alert label radius"><%= @show.status %></span>
      <% end %>
  <br>
  <strong>Start date:</strong> <%= @show.start_date %>
  <br>
  <strong>Finish date:</strong> <%= @show.finish_date %>
  <br>
  <strong>Channel:</strong> <%= @show.channel %>
  <br>
  <strong>Genres:</strong> <% @show_genres.each {|genre|%> <%=link_to genre.name, genre %> | <%}%>
  <br>
  <strong>Seasons:</strong> <%= @show.seasons_count %>
  <br>
  <strong>Runtime:</strong> <%= @show.runtime %>
  <br>
  <strong>Rate IMDB:</strong> <%= @show.rate_imdb %>
  <br>
  <strong>Users rate:</strong> <%= @show.rate_users %>
  <br>
  <strong>About:</strong> <%= @show.about %>
  <br>
</div>
    <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="tiny button dropdown show-status">Select show status</button><br>
    <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
      <li><%=link_to 'Dont`t watch', change_status_path(id: @show.id, status: 'dont_watch') %></li>
      <li><%=link_to 'Will watch', change_status_path(id: @show.id, status: 'will_watch') %></li>
      <li><%=link_to 'Watching', change_status_path(id: @show.id, status: 'watching') %></li>
      <li><%=link_to 'Stopped watch', change_status_path(id: @show.id, status: 'stopped_watch') %></li>
    </ul>
    </div>

  <div class="episodes">
    <table>
      <tr>
        <th scope="column">#</th>
        <th scope="column">Name</th>
        <th scope="column">Date</th>
      </tr>
      <% @show_episodes.each {|episode|
      unless episode.released.nil?%>
      <tr>
        <td><%= episode.season.to_s + 'x' + episode.number.to_s %></td>
        <td><%= episode.name %></td>
        <td><%= episode.released %></td>
      </tr>
      <% end  } %>
    </table>
  </div>

</div>
