<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Showtime | <%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!DOCTYPE html>
  <html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <nav class="top-bar" data-topbar="" role="navigation">
    <ul class="title-area">
      <li class="name"></li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown not-click"><a href="#">Menu</a>

          <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Item 1</a></li>
            <li><label>Shows</label></li>
            <li><%= link_to 'Shows list', shows_path%></li>
            <li><a href="#">Sub-item 2</a></li>
            <li class="divider"></li>
            <li><a href="#">Sub-item 3</a></li>

          </ul>
        </li>
        <li class="divider"></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <% if user_signed_in? %>
            <li><a href="/">Profile</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>

        <% else %>
            <li><a href="/">Home</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>

      </ul>
    </section>
  </nav>

  <%= yield %>

  </body>
</html>