%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'TVshows'
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width', 'initial-scale': '1.0'}
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600&subset=latin,cyrillic'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    .wrapper
      = yield
    = render 'layouts/footer'

  = javascript_include_tag 'application'
  = yield :javascripts
