<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <%= render partial: 'layouts/header' %>
  <div data-magellan-expedition="fixed" class="header2">
    <h4 class="header-h4"><%= content_for?(:title) ? yield(:title) : "Rails" %></h4>
  </div>
  <%= yield %>

</div>
<%= render partial: 'layouts/footer' %>
</body>
</html>